# VS Code
/.vscode/
.vscode/*

# Python
/env/
/env/*
**__pycache__/

# Data
/data/Virtual.db
/data/Real.db

# Legacy Code
/legacy/
/legacy/*

# Testing based ignores
API-Key
test.py

# Experimental Files
source/exceptions.py
source/api.py