# VS Code
/.vscode/
.vscode/*

# Pycharm
/.idea/
.idea/*

# Python
/env/
/env/*
**__pycache__/

# Data
/data/Virtual.db
/data/Real.db


# Testing based ignores
test.py

# Experimental Files
util/exceptions.py

strategies/*
/strategies/
!/strategies/example.py
