# VS Code
/.vscode/
.vscode/*

# Pycharm
/.idea/
.idea/*

# Python
/env/
/env/*
**__pycache__/

# Data
/data/Virtual.db
/data/Real.db

*.log

# Testing based ignores
test.py

# Experimental Files
src/exceptions.py

strategies/*
/strategies/
!/strategies/example.py
